<div>
  <h2 class="mb-6 text-center font-bold text-2xl">Menu</h2>
  <ul class="flex flex-col gap-4">
    <li
      routerLinkActive="bg-blue-500 text-white"
      class="py-4 rounded-lg flex justify-center"
    >
      <a routerLink="peru" class="cursor-pointer px-4">Perú</a>
    </li>
    <li
      routerLinkActive="bg-blue-500 text-white"
      class="py-4 rounded-lg flex justify-center"
    >
      <a routerLink="chile" class="cursor-pointer px-4">Chile</a>
    </li>
    <li
      routerLinkActive="bg-blue-500 text-white"
      class="py-4 rounded-lg flex justify-center"
    >
      <a routerLink="uruguay" class="cursor-pointer px-4">Uruguay</a>
    </li>
  </ul>
</div>
